
## Ignore everything (recursive)
./**/*
## But not text files
#!./**/*.txt

## Note: some pushed files not removed by later gitignore
## to remove them manually:
## git rm -r --cashed
## then regular add/commit/push